<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7966748720-ho8ru33i14hsii401m7a7jcoidadt0uf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7966748720-ho8ru33i14hsii401m7a7jcoidadt0uf</string>
	<key>API_KEY</key>
	<string>AIzaSyA6LdT2xd5VToR6BD-escMmiEdVCZ1dyr0</string>
	<key>GCM_SENDER_ID</key>
	<string>7966748720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoFinalDoctorInterface.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>moca-geriuff</string>
	<key>STORAGE_BUCKET</key>
	<string>moca-geriuff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7966748720:ios:4db667c4a404b70129fdf5</string>
</dict>
</plist>